@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2 {
  font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Customed stlye */
img.img-circle {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: 100% 50%;
  box-shadow: 8px 8px 8px rgb(0 0 0 / 50%);
}

a.btn-red {
  background-color: #DE5E62;
  color: rgb(240,240,240);
  padding: 16px 24px;
  border-radius: 4px;
  transition: 1s;
}

a.btn-red:hover {
  background-color: #5ebede;
}

.card-white {
  background-color: #fbfafa;
  width: 400px;
  margin: 24px auto;
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 24px rgb(0 0 0 / 20%);
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 32px;
  color: #DE5E62;
}