@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #7b8cde; */
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  font-size: 64px;
  margin: 0px;
  margin-bottom: 32px;
}

h1, h2 {
  font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none;
}

/* Customized style */
.card-orange {
  background-color: white;
  width: 400px;
  margin: 40px auto;
  padding: 32px;
  text-align: center;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 30%);
  /* margin: 48px; */
}

img.img-circle {
  width: 160px;
  border-radius: 50%;
  height: 160px;
  object-fit: cover;
  object-position: 100% 50%;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 90%);

}

a.btn-green {
  padding: 16px 24px;
  border-radius: 4px;
  display: inline-block;
  color: rgb(240,240,240);
  background-color: #DE5E62;
}

a.btn-green:hover {
  background-color: #DE5E62;
  color: rgb(40,40,40);
  transition: .3s;
}

ul.list-inline {
  list-style: none;
  padding: 0;
}

ul.list-inline li {
  display: inline;
}

ul.list-inline a {
  font-size: 64px;
  color: rgba(100,100,100);
}